/* Import the fonts */
@import url('https://fonts.googleapis.com/css?family=Sansita+Swashed:wght@500|Lato:wght@700');

:root {
    --primary-color: #F7F9FB;
    --secondary-color: #8FC1E3;
    --tertiary-color: #475747;
    --accent1-color: #31708E;
    --accent2-color: #a6a7a6;
    --heading-font: 'Sansita Swashed', cursive, sans-serif;
    --paragraph-font: Lato, Helvetica, sans-serif;
}


body {
    font-size: 16px;
    background-color: var(--primary-color);
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

header, footer {
    background-color: var(--secondary-color);
}

header, main, footer {
    max-width: 960px;   /* supplied in assignment */
    margin: 0 auto;     /* supplied in assignment */
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

#header_logo {
    width: 100px;
    height: auto;
}

.heading {
    color: var(--tertiary-color);
    font-size: 1.3rem;
    margin: 0;
    font-family: var(--heading-font);
}

header {
    margin-top: 20px;
    padding: 5px 0px;
	display: flex;
	align-items: center;
    justify-content: center;
}

header a {
    text-decoration: none;
}

.nav {
    list-style-type: none;
    display: flex;
    text-align: center;
    font-family: var(--paragraph-font);
    font-size: 1rem;
    font-weight: 700;
}

.nav li {
    flex: 1 1 auto;
}

.nav a {
    padding: 1em;
    min-width: 70px;
}

.nav a:link, nav a:visited {
    color: var(--accent1-color);
}

.nav a:hover {
    color: var(--primary-color);
    background-color: var(--accent1-color);
}

h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--tertiary-color);
    padding: 1rem 1rem 0rem 1rem;
}

p {
    font-family: var(--paragraph-font);
    padding: 0rem 2rem 0rem 2rem;
}

.home-away, .wedding-receptions, .family-search-center {
    background-color: var(--accent2-color);
    margin-bottom: 1.25rem;
    padding-bottom: 1rem   
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social {
    list-style-type: none;
    text-align: center;
    flex: 1 1 auto;
}

.social img {
    width: 30px;
    height: 30px;
}

.copyright {
    text-align: center;
    font-family: var(--paragraph-font);
}

.map_link {
    text-decoration: none;
}