/* Import the fonts */
@import url('https://fonts.googleapis.com/css?family=Sansita+Swashed:wght@500|Lato:wght@700');

@media screen and (max-width: 550px) {
    .______ {
      display: block;
    }
}

:root {
    --primary-color: #F7F9FB;
    --primary-color-translucent: rgba(247,249,251,0.8);
    --secondary-color: #8FC1E3;
    --tertiary-color: #475747;
    --accent1-color: #31708E;
    --accent2-color: #a6a7a6;
    --accent2-color-translucent: rgba(166,167,166, 0.8);
    --heading-font: 'Sansita Swashed', cursive, sans-serif;
    --paragraph-font: Lato, Helvetica, sans-serif;
}

body {
    font-size: 16px;
    background-color: var(--primary-color);
    margin: 0px 0px 0px 0px;
}

header,
footer {
    background-color: var(--secondary-color);
    max-width: 960px;
    /* supplied in assignment */
    margin: 0 auto;
    /* supplied in assignment */
    padding-top: 0.5rem;
}

main {
    max-width: 960px;
    margin: 0 auto;
}

hr {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

#header_logo {
    width: 100px;
    height: auto;
}

.heading {
    color: var(--tertiary-color);
    font-size: 1.3rem;
    margin: 0;
    font-family: var(--heading-font);
}

header {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
}

header a {
    text-decoration: none;
}

.nav {
    list-style-type: none;
    display: flex;
    text-align: center;
    font-family: var(--paragraph-font);
    font-size: 1rem;
    font-weight: 700;
}

.nav li {
    flex: 1 1 auto;
}

.nav a {
    padding: 1em;
    min-width: 70px;
}

.nav a:link,
nav a:visited {
    color: var(--accent1-color);
}

.nav a:hover {
    color: var(--primary-color);
    background-color: var(--accent1-color);
}

h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--tertiary-color);
    padding: 1rem 1rem 0rem 1rem;
}

p {
    font-family: var(--paragraph-font);
    padding: 0rem 2rem 0rem 2rem;
}

.home-away,
.wedding-receptions,
.family-search-center {
    background-color: var(--accent2-color);
    margin-bottom: 1.25rem;
    padding-bottom: 1rem;
}

.home-away,
.wedding-receptions {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.home-away img,
.wedding-receptions img {
    align-self: center;
    justify-self: center;
    border-style: solid;
    border-width: 2px;
    box-shadow: 10px 10px 10px #666;
}

footer {
    display: grid;
    padding: 20px;
    grid-template-columns: 0.5fr 1rem 50% auto;
    grid-gap: 0.5rem;
}

.phone,
.email,
.address {
    font-family: var(--paragraph-font);
    grid-column: 3 / 4;
}

.contact-icon {
    justify-self: center;
    grid-column: 2 / 3;
}

.social {
    list-style-type: none;
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.social a {
    text-decoration: none;
}

.social img {
    width: 40px;
    height: 40px;
    margin: 10px;
}

.copyright {
    text-align: center;
    font-family: var(--paragraph-font);
    font-size: 0.75rem;
    grid-row: 4 / 5;
    grid-column: 1 / -1;
}

.map_link {
    text-decoration: none;
}

.banner-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
    
.banner-box img {
    grid-column: 1 / -1;
    grid-row: 1;
}
    
.action {
    grid-column: 1;
    grid-row: 1;
    background-color: var(--primary-color-translucent);
    margin: 1em 3em;
    padding: 0.1em;
    text-align: center;
}
    
.action button {
    line-height: 2em;
    width: 10em;
    background-color: var(--accent1-color);
    font-size: 1.2em;
    color: var(--primary-color);
}