/* Import the fonts */
@import url('https://fonts.googleapis.com/css?family=Grenze+Gotisch:wght@400|Lato');

:root {
    --primary-color: #1a659e;
    --secondary-color: #efefd0;
    --accent1-color: #004e89;
    --accent2-color: #ff6b35;
    --heading-font: "Grenze Gotisch", cursive;
    --paragraph-font: Lato, Helvetica, sans-serif
}

body {
    background-color: var(--primary-color);
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

header, main, footer {
    max-width: 960px;   /* supplied in assignment */
    margin: 0 auto;     /* supplied in assignment */
    padding-left: 0px;
    padding-right: 0px;
  }

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
}

footer, header {
    background-color: var(--accent2-color);
}

header img {
    width: 50px;
    height: 50px;
}

header a {
    text-decoration: none;
}

header {
    padding-top: 0px;
    padding-bottom: 0px;
    }
    
section {
    margin-left: 100px;
    margin-right: 100px;
}

.home-away, .wedding-receptions, .family-search-center {
    background-color: var(--secondary-color);
}

.social img {
    width: 30px;
    height: 30px;
}

nav {
    background-color: var(--accent2-color);
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
}

nav>ul {
    list-style-type: none;
    display: flex;
}

nav a {
    padding: 1em;
    min-width: 70px;
}

nav a:link, nav a:visited {
    color: var(--accent1-color);
}

nav a:hover {
    color: var(--accent2-color);
    background-color: var(--accent1-color);
}