/* Import the fonts */
@import url('https://fonts.googleapis.com/css?family=Handlee:wght@500|Lato:wght@700');

:root {
    --primary-color: #f3e9dc;
    --secondary-color: #c08552;
    --tertiary-color: #5e3023;
    --accent1-color: #895737;
    --accent2-color: #dab49d;
    --heading-font: 'Handlee', cursive, sans-serif;
    --paragraph-font: Lato, Helvetica, sans-serif;
    --max-width: 960px;
}

body {
    font-family: var(--paragraph-font);
    font-size: 16px;
    background-color: var(--primary-color);
    margin: 0;
}

header,
footer {
    background-color: var(--secondary-color);
    max-width: var(--max-width);
    margin: 0 auto;
    font-family: var(--heading-font);
}

header {
    display: flex;
    flex-direction: row;
}

/* This section formats the footer */
footer {
    
    margin-top: 2rem;
}

.social {

    
    text-align: right;
}

.social a {
    text-decoration: none;
}
.social img {
    width: 30px;
    margin: 10px;
}

.credits {
    padding: 0 1rem 1rem;
    text-align: center;
}



/* End of footer formatting */


figcaption {
    display: table-caption;
    caption-side: bottom;
    width: 100%;

}

#header_logo {
    margin: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--tertiary-color);
    width: 64px;
}

.heading {
    flex-shrink: 0;
    flex-grow: 0;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.heading h1 {
    margin-top: 1.5rem;
}

.heading a:link,
.heading a:visited {
    color: var(--tertiary-color);
}

.ham-nav {
    flex-grow: 1;
    flex-shrink: 1;    
    width: max-content;
    padding-top: 2rem;
}

.ham-nav label, #hamburger {
    color: var(--primary-color);
    display: none;
}

.ham-items {
    display: flex;
    margin-left: 3rem;
    flex-direction: row;
}

.ham-items a {
    color: var(--tertiary-color);
    text-decoration: none;
    text-align: center;
    flex-grow: 1;
    flex-shrink: 1;
}

.ham-nav a:hover {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
}

@media screen and (max-width: 700px) {

    header {
        display: inline-block;
        flex-direction: unset;
    }

    .ham-nav label {
        display: block;
        color: var(--primary-color);
        background: var(--tertiary-color);
        font-style: normal;
        font-size: 1.8em;
        padding: 5px;
        
    }

    .ham-items a {
        box-sizing: border-box;
        display: block;
        width: 100%;
        border-top: 1px solid var(--accent1-color);
        color: var(--tertiary-color)
    }
  
    .heading h1 {
        margin-top: 0.5rem;

    }

    .ham-items {
        display: none;
    }

    .ham-nav input:checked ~ .ham-items {
        display: block;
    }
  
    #header_logo {
        width: 50px;
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 0;
    }


}

main {
    max-width: var(--max-width);
    margin: 0 auto;
}

/* .nav {
    list-style-type: none;
    display: flex;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
}

.nav li {
    flex: 1 1 auto;
}

.nav a {
    padding: 1em;
    min-width: 70px;
    text-decoration: none;
}

.nav a:link,
.nav a:visited {
    color: var(--tertiary-color);
} */

h2 {
    background-color: var(--accent2-color);
    border-style: solid;
    border-color: var(--tertiary-color);
}

.starter-recipes {
    column-count: 2;
    column-gap: 3rem;
    
}


.starter-img {
    width: 150px;
    display: table;
   
}

.h-image-container {
    display: flex;
    flex-direction: row;
    
}

p {
    margin: 0 3rem;
}

.h-image {
    margin: 2rem;
}

.recipe {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

